{% extends "layout.html" %} {% block nav%}
<div>
    <p>
        Lidão demais
    </p>
</div> {% endblock%} {% block doby %}
<div class="container">
    <h1> hell,{{var_template_name}}! </h1>
    <h2> Pronto para aprender algo novo hoje? Um dia sem aprender algo novo é um dia perdido</h2>
    <p> "O único limite que exite é aquele que você impôe a si mesmo "</p>
    <img src=https://easeofcodes.com/images/design-expression-learn-247819.jpg alt="Girl in a jacket" width="800" height="600">

</div>
{% endblock %} {% block footer%} {{var_template_footer_message_1}}{% endblock%}